/*
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}
*/

.title {
    font-family: Arial, san-serif;
    text-align: center;
   
    
}
.h2Description{
    font-family: Arial, sans-serif;
    text-align: center;
}
.flex-container{
    display:flex;
    font-family: Arial, san-serif;
    text-align: center;
    flex-direction: row;
   
    /* background-color: palevioletred; */
    justify-content:flex-end;
    gap: 50px;
    margin: 10 px;
    
    
}
.flex-containerCards{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-direction: row;
}
.background-color{

    background-color: lightblue;
    height: 1000px;
    width: 100%;
    
} 

button{
    background-color: violet;
    font-size: 20px;
    border-radius: 20px;
    border-color: white;
}

.card {
    direction: row;
    width: 300px;
    height: 400px;
    background: transparent;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(3, 7, 89);
    border-radius: 0.3rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.057);
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 60px;

}
table, th, td{
    border:1px solid black;
    }