/*
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}
*/

.title {
    font-family: Arial, san-serif;
    text-align: center;
   
    
}
.flex-container{
    display:flex;
    font-family: Arial, san-serif;
    text-align: center;
    flex-direction: row;
    /* background-color: palevioletred; */
    justify-content:flex-end;
    gap: 50px;
    margin: 10 px;
    
    
}
.background-color{

    background-color: lightblue;
    height: 1000px;
    width: 100%;
    
} 

button{
    background-color: violet;
    font-size: 20px;
    border-radius: 20px;
    border-color: white;
}